body {
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
}

p, a {
    /* resets */
    margin: 0;

    color: #fff;
    font-size: 16px;
    font-weight: 400;
}


.bgc-header {
    background-image: url("./img/bgc.png");
    height: 800px;
}


header {
    /*max-width: 1600px;*/
    /*margin: 0 auto;*/
    /*padding: 0 100px;*/
    /*display: flex;*/

    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 33px 0;
    box-sizing: border-box;
}

.header-content {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*.logo {*/
    /*padding-right: 311px;*/
    /*padding-top: 33px;*/
/*}*/

/*.nav-content {*/
    /*padding-top: 35px;*/
/*}*/

/*.nav ul {*/
    /*display: flex;*/
    /*color: white;*/
    /*list-style-type: none;*/
/*}*/

/*li a {*/
    /*color: white;*/
    /*text-decoration: none;*/
    /*margin-right: 47px;*/
    /*font-size: 16px;*/
/*}*/

nav {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
}

nav a:nth-of-type(n + 2) {
    margin-left: 48px;
}

/*.search {*/
    /*padding-top: 50px;*/
    /*padding-right: 70px;*/
/*}*/

/*.translation a {*/
    /*display: flex;*/
    /*color: white;*/
    /*text-decoration: none;*/
/*}*/

/*.translation {*/
    /*padding-top: 35px;*/
/*}*/

/*.translation img {*/
    /*padding-right: 11px;*/
/*}*/

/*.border {*/
/*    border-top: 1px solid #FFFFFF;*/
/*}*/

.header-buttons {
    display: flex;
    align-items: center;
}

@media (max-width: 1220px) {
    .header-buttons {
        display: none;
    }
}

.header-buttons-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    line-height: 1.35;
}

.header-buttons-item > p {
    margin-left: 11px;
}

.header-buttons-item:nth-of-type(n + 2) {
    margin-left: 70px;
}


.offer {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 80px;
    box-sizing: border-box;
    padding-top: 200px;
}

.header-offer {
    font-size: 40px;
    color: white;

}

.offer-content p {
    color: #FFF;
    font-size: 24px;
    max-width: 400px;
    margin: 0;
    padding-bottom: 25px;
}

.offer-content a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;

}

.offer-content h1 {
    padding-bottom: 35px;
    margin: 0;
}


.one_plates {
    width: 225px;
    height: 148px;
    background: #2378FC;
    color: #fff;
    position: absolute;
    top: 394px;
    right: 500px;
}

.one_plates a {
    text-decoration: none;
    color: #fff;
    padding-left: 40px;
}

.one_plates p {
    padding-top: 30px;
    padding-left: 40px;
    font-size: 21px;
    margin: 0 0 20px 0;
}


.two_plates {
    width: 225px;
    height: 148px;
    background: #30BCC9;
    color: #fff;
    position: absolute;
    top: 394px;
    right: 250px;
}

.two_plates a {
    text-decoration: none;
    color: #fff;
    padding-left: 40px;
}

.two_plates p {
    padding-top: 30px;
    padding-left: 40px;
    font-size: 21px;
    margin: 0 0 20px 0;
}


.three_plates {
    width: 225px;
    height: 175px;
    background: #FFC41E;
    color: #fff;
    position: absolute;
    top: 572px;
    right: 500px;
}

.three_plates a {
    text-decoration: none;
    color: #fff;
    padding-left: 40px;
}

.three_plates p {
    padding-top: 30px;
    padding-left: 40px;
    font-size: 21px;
    margin: 0 0 20px 0;
}


.four_plates {
    width: 225px;
    height: 175px;
    background: #F6404F;
    color: #fff;
    position: absolute;
    top: 572px;
    right: 250px;
}

.four_plates a {
    text-decoration: none;
    color: #fff;
    padding-left: 40px;

}

.four_plates p {
    padding-top: 30px;
    padding-left: 40px;
    font-size: 21px;
    margin: 0 0 20px 0;
}


.section-info {
    background: #2378FC;
    height: 426px;
    padding-top: 75px;

}


.text-info {
    display: flex;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    box-sizing: border-box;
}

.text-info a {
    width: fit-content;
}


.organizers {
    display: grid;
}

.organizers a {
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
}

.organizers h1 {
    color: white;
    padding-right: 121px;
    margin: 0 0 30px;
    font-size: 30px;
}

.organizers a:hover {
    color: #FFC41E;
}


.exhibitors {
    display: grid;
}

.exhibitors a {
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
}

.exhibitors h1 {
    color: white;
    padding-right: 121px;
    margin: 0 0 30px;
    font-size: 30px;
}

.exhibitors a:hover {
    color: #FFC41E;
}


.for-visitors {
    display: grid;
}

.for-visitors a {
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
}

.for-visitors h1 {
    color: white;
    padding-right: 121px;
    margin: 0 0 30px;
    font-size: 30px;
}

.for-visitors a:hover {
    color: #FFC41E;
}


.press {
    display: grid;
    width: fit-content;
}

.press a {
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
}

.press h1 {
    color: #FFFFFF;
    margin: 0 0 30px;
    font-size: 30px;
}

.press a:hover {
    color: #FFC41E;
    text-decoration-color: #FFC41E;

}


.events {
    background: #FFC41E;
    height: 1100px;
}

.events h1 {
    margin: 0;
    padding: 0;
}

.header-events {
    display: flex;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header-events a {
    color: black;
    text-decoration: none;
    margin-left: 450px;
    padding-top: 84px;
}

.header-events h1 {
    padding-top: 75px;
}


.posters {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    box-sizing: border-box;
}


.poster {
    margin-right: 30px;
}


.one-line-poster {
    display: flex;
    padding-top: 100px;
}

.one-line-poster h1 {
    color: #F6404F;
}


.two-line-poster {
    display: flex;
    padding-top: 40px;
}

.two-line-poster h1 {
    color: #F6404F;
}

.two-poster {
    margin-right: 30px;
}


.news {
    background: #FAF3E3;
    height: 649px;
}


.header-news {
    display: flex;

}

.header-news h1 {
    padding-right: 272px;
    padding-top: 50px;

}

.header-news a {
    text-decoration: none;
    color: black;
    padding-top: 81px;

}

.news-photo {
    padding-right: 125px;
    padding-top: 75px;
}

.news-photo img {
    margin-bottom: 59px;
}

.news-content {
    display: flex;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    box-sizing: border-box;
}


.main-news {
    margin-top: 30px;
}

.news-photo {
    display: grid;
}

.card-news {
    display: flex;
    margin-bottom: 30px;
}

.dates {
    color: #F6404F;
}

.text-news {
    margin-left: 30px;
}


footer {
    background: #30BCC9;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    margin-top: 20px;
    width: fit-content;
    text-decoration: none;
    color: #FFFFFF;
}

.footer-links a:nth-of-type(n + 2) {
    margin-top: 10px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 40px;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    box-sizing: border-box;
}

.footer-content a:hover {
    color: #FFC41E;
}

.footer-content p {
    color: #FFFFFF;
    font-size: 21px;
}

.iqon-social-footer a {
    margin-right: 30px;
}

.button-footer {
    background: #F6404F;
}

.button-footer:active {
    background: #fa0418;
}

button {
    outline: none;
    border: none;
    padding: 8px 10px;
}

.col input {
    width: 215px;
    height: 40px;
    border: none;
}

.form {
    display: flex;
}

